openapi: 3.0.0
info:
  version: 1.0.0
  title: splose public API
  description: >
    
    Welcome to the splose API documentation. splose serves as a comprehensive Allied Health & NDIS practice management software designed to streamline administrative tasks and foster the growth of your practice.


    # Introduction

    The splose API follows a REST architectural style, offering JSON-encoded responses, standard HTTP response codes, easily understandable resource-oriented URLs, and robust authentication mechanisms.


    # Authentication

    ### API Key Authentication

    The splose API employs API keys for request authentication. Workspace owners can apply for and manage API keys through the splose dashboard. It's crucial to safeguard the API key, as it grants the same permissions as the associated user.


    ### Bearer Authentication

    Authentication for API access is achieved via Bearer Authentication. Include the API key in the request header using the format: `Authorization: Bearer your_api_key`.


    ### Secure Communication

    All API requests must be conducted over HTTPS. Requests made over plain HTTP will not succeed. Additionally, unauthenticated API requests will result in failure.


    # Rate limit

    There are limits to the number of API calls that your application can make with one API key.


    + Minute Limit: 60 calls per minute


    # Error

    splose uses conventional HTTP response codes to indicate the success or failure of an API request. In general: Codes in the 2xx range indicate success. 

    Codes in the 4xx range indicate an error that failed given the information provided. Codes in the 5xx range indicate an error with splose's servers.


    Error types:

    + 400 - Bad request: the request failed due to missing or invalid parameters.

    + 401 - Unauthorized: No valid API key provided.

    + 404 - Not Found: 	The requested resource doesn't exist.

    + 429 - Too Many Requests: Too many requests hit the API too quickly.

    + 500 - Internal Server Error : Something went wrong on splose's end.


    # Datetime

    All datetime values provided in request parameters and responses are in Coordinated Universal Time (UTC). The accepted datetime formats are outlined below:

    + 2023-07-01

    + 2023-07-01T00:00:00Z

    + 2023-07-01T00:00:00.000Z


    # Pagination


    ### Pagination for Multiple Objects

    For endpoints returning multiple objects, pagination is in place to manage response sizes. Each response is limited to a certain number of objects. 

    Additionally, the response includes a `links` field that provides URLs for fetching the next and/or previous pages, if applicable.


    ### Manual Positioning

    You have the option to manually specify the `id_gt` or `id_lt` value as a request parameter. This allows you to retrieve objects starting from a specific position. If neither of these values is provided, the initial page of objects will be returned by default.

    + `id_gt`: Request for next page of objects with id greater than the specified value. 

    + `id_lt`: Request for previous page of objects with id less than the specified value. 


    # Realtime feed

    Certain users may require real-time data retrieval. Given the substantial data volume, retrieving the complete dataset may not be efficient. To address this, we offer the option to retrieve data based on its update timestamp. This approach necessitates fetching the entire dataset only during the initial request. Subsequent retrievals involve fetching solely the modified data to replace outdated information.

    + `update_gt`: Request for objects updated after the specified datetime. 

    + `update_lt`: Request for objects updated before the specified datetime. 


    # Change log

    + 2024-04-10: add payment method and payment endpoints

    + 2024-02-28: add availability endpoint
  contact:
    email: support@splose.com
externalDocs:
  description: Find out more about splose
  url: https://splose.com
servers:
  - url: https://api.splose.com/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas: {}
  parameters: {}
paths:
  /patients:
    get:
      tags:
        - patient
      description: Get a paged array of patients
      summary: Get a paged array of patients
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            nullable: true
            description: The starting object id of the next page
            example: 200
          required: false
          name: id_gt
          in: query
        - schema:
            type: integer
            nullable: true
            description: The starting object id of the previous page
            example: 100
          required: false
          name: id_lt
          in: query
        - schema:
            anyOf:
              - type: string
              - type: string
            description: Search for objects updated after this date time
            example: 2023-07-30T09:00:00Z
          required: false
          name: update_gt
          in: query
        - schema:
            anyOf:
              - type: string
              - type: string
            description: Search for objects updated before this date time
            example: 2023-07-30T09:00:00Z
          required: false
          name: update_lt
          in: query
        - schema:
            type: string
            nullable: true
            enum: &a4
              - "true"
              - "false"
            default: "false"
            description: Whether archived objects should be retrieved, default is false
          required: false
          name: include_archived
          in: query
        - schema:
            type: string
            nullable: true
            description: Patient firstname
            example: Harry
          required: false
          name: firstname
          in: query
        - schema:
            type: string
            nullable: true
            description: Patient lastname
            example: Potter
          required: false
          name: lastname
          in: query
        - schema:
            type: string
            nullable: true
            format: email
            description: Patient email
            example: harry@hogwarts.edu
          required: false
          name: email
          in: query
        - schema:
            type: string
            nullable: true
            description: Patient birth date in YYYY-MM-DD format
            example: 1990-01-01
          required: false
          name: birthdate
          in: query
        - schema:
            type: string
            nullable: true
            description: Patient phone number without country code
            example: "0412345678"
          required: false
          name: phoneNumber
          in: query
        - schema:
            type: string
            nullable: true
            description: Patient tag
            example: Self-managed
          required: false
          name: patientTag
          in: query
      responses:
        "200":
          description: A paged array of patients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        firstname:
                          type: string
                          description: Patient first name
                          example: Harry
                        lastname:
                          type: string
                          description: Patient last name
                          example: Potter
                        middleName:
                          type: string
                          nullable: true
                          description: Patient middle name
                          example: James
                        preferredName:
                          type: string
                          nullable: true
                          description: Patient preferred name
                          example: Harry
                        title:
                          type: string
                          nullable: true
                          description: Patient title
                          example: Mr.
                        email:
                          type: string
                          nullable: true
                          description: Patient email
                          example: harry@hogwarts.edu
                        sex:
                          type: string
                          nullable: true
                          description: Patient sex
                          example: Male
                        genderIdentity:
                          type: string
                          nullable: true
                          description: Patient gender identity
                          example: Man
                        pronouns:
                          type: string
                          nullable: true
                          description: Patient pronouns
                          example: They/them
                        alert:
                          type: string
                          nullable: true
                          description: Patient alert messages
                          example: He knows magic
                        invoiceRecipientId:
                          type: integer
                          nullable: true
                          minimum: 0
                          exclusiveMinimum: true
                          description: The invoice receipient (contact) id of this patient
                          example: 1
                        birthdate:
                          anyOf:
                            - type: string
                            - type: string
                            - nullable: true
                          description: Patient birthdate in YYYY-MM-DD format
                          example: 1996-07-30
                        timezone:
                          type: string
                          description: Patient timezone
                          example: Australia/Adelaide
                        extraInfo:
                          type: string
                          nullable: true
                          description: Patient extra info
                          example: Some extra info
                        extraBillingInfo:
                          type: string
                          nullable: true
                          description: Patient extra billing info
                          example: Some extra billing info
                        addressL1:
                          type: string
                          nullable: true
                          description: Patient address line 1
                          example: 123 King William Street
                        addressL2:
                          type: string
                          nullable: true
                          description: Patient address line 2
                          example: ""
                        addressL3:
                          type: string
                          nullable: true
                          description: Patient address line 3
                          example: ""
                        city:
                          type: string
                          nullable: true
                          description: Patient city
                          example: Adelaide
                        state:
                          type: string
                          nullable: true
                          description: Patient state
                          example: SA
                        postalCode:
                          type: string
                          nullable: true
                          description: Patient post code
                          example: "5000"
                        country:
                          type: string
                          nullable: true
                          description: Patient country
                          example: Australia
                        phoneNumbers:
                          type: array
                          nullable: true
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                nullable: true
                                enum: &a1
                                  - Mobile
                                  - Home
                                  - Work
                                  - Fax
                                  - Other
                                description: Phone number type
                                example: Mobile
                              code:
                                type: string
                                nullable: true
                                description: Phone country code
                                example: "+61"
                              phoneNumber:
                                type: string
                                description: Phone number
                                example: "401234567"
                            required:
                              - phoneNumber
                        privacyPolicy:
                          type: string
                          nullable: true
                          enum: &a2
                            - No response
                            - Accepted
                            - Rejected
                            - ""
                          description: Patient privacy policy status
                          example: Accepted
                        ndisNumber:
                          type: string
                          nullable: true
                          description: Patient NDIS number
                          example: "430123456"
                        ndisInfo:
                          type: object
                          nullable: true
                          properties:
                            diagnosis:
                              type: string
                              nullable: true
                              description: NDIS Diagnosis
                              example: Foot Injury
                            nomineeEmail:
                              type: string
                              nullable: true
                              description: Nominee email
                              example: nominee@email.com
                            fundManagement:
                              type: string
                              nullable: true
                              description: NDIS fund management type
                              example: Plan-managed
                            nomineeLastName:
                              type: string
                              nullable: true
                              description: Last name of nominee
                              example: Clark
                            nomineeFirstName:
                              type: string
                              nullable: true
                              description: First name of nominee
                              example: Chris
                            nomineeMobileCode:
                              type: string
                              nullable: true
                              description: Nominee phone country code
                              example: "+61"
                            nomineeMobileNumber:
                              type: string
                              nullable: true
                              description: Nominee phone number
                              example: "433555111"
                            startDate:
                              type: string
                              nullable: true
                              description: Plan start date
                              example: 2024-02-09T00:00:00.000Z
                            endDate:
                              type: string
                              nullable: true
                              description: Plan end date
                              example: 2024-02-18T00:00:00.000Z
                        medicareNum:
                          type: string
                          nullable: true
                          description: Patient Medicare number
                          example: "4444444444"
                        irn:
                          type: string
                          nullable: true
                          description: Patient Medicare reference number
                          example: "1"
                        veteransFileNumber:
                          type: string
                          nullable: true
                          description: Patient veterans information
                          example: ""
                        emergencyContactNumber:
                          type: string
                          nullable: true
                          description: Patient emergency contact number
                          example: "0412345678"
                        emergencyContactName:
                          type: string
                          nullable: true
                          description: Patient emergency contact name
                          example: Quentin Neely
                        emergencyContactRelationship:
                          type: string
                          nullable: true
                          description: Patient emergency contact relationship
                          example: Brother
                        archived:
                          type: boolean
                          nullable: true
                          default: false
                          description: Whether the patient has been archived
                        id:
                          type: integer
                          minimum: 0
                          exclusiveMinimum: true
                          description: Patient Id
                          example: 1
                        patientTags:
                          type: array
                          nullable: true
                          items:
                            type: string
                          description: Patient tags
                          example: &a3
                            - Self-managed
                        customFields:
                          type: array
                          nullable: true
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              value:
                                anyOf:
                                  - type: string
                                  - type: number
                            required:
                              - name
                              - value
                        healthFund:
                          type: object
                          nullable: true
                          properties:
                            name:
                              type: string
                              description: Health fund name
                              example: AHM
                            membershipNumber:
                              type: string
                              nullable: true
                              description: Health fund membership number
                              example: "12345678"
                            patientNumber:
                              type: string
                              nullable: true
                              description: Health fund patient number
                              example: "1"
                            cardIssueNumber:
                              type: string
                              nullable: true
                              description: Health fund card issue number
                              example: "01"
                          required:
                            - name
                        createdAt:
                          anyOf:
                            - type: string
                            - type: string
                          description: Object creation date time
                          example: 2023-07-30T09:00:00Z
                        updatedAt:
                          anyOf:
                            - type: string
                            - type: string
                          description: Object update date time
                          example: 2023-07-30T09:00:00Z
                      required:
                        - firstname
                        - lastname
                        - timezone
                        - id
                  links:
                    type: object
                    properties:
                      previousPage:
                        type: string
                        description: The link to retrieve next page
                        example: /v1/${object_type}?id_gt=200
                      nextPage:
                        type: string
                        description: The link to retrieve previous page
                        example: /v1/${object_type}?id_lt=100
                required:
                  - data
                  - links
    post:
      tags:
        - patient
      description: Create a single patient
      summary: Create a single patient
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstname:
                  type: string
                  description: Patient first name
                  example: Harry
                lastname:
                  type: string
                  description: Patient last name
                  example: Potter
                middleName:
                  type: string
                  nullable: true
                  description: Patient middle name
                  example: James
                preferredName:
                  type: string
                  nullable: true
                  description: Patient preferred name
                  example: Harry
                title:
                  type: string
                  nullable: true
                  description: Patient title
                  example: Mr.
                email:
                  type: string
                  nullable: true
                  description: Patient email
                  example: harry@hogwarts.edu
                sex:
                  type: string
                  nullable: true
                  description: Patient sex
                  example: Male
                genderIdentity:
                  type: string
                  nullable: true
                  description: Patient gender identity
                  example: Man
                pronouns:
                  type: string
                  nullable: true
                  description: Patient pronouns
                  example: They/them
                alert:
                  type: string
                  nullable: true
                  description: Patient alert messages
                  example: He knows magic
                invoiceRecipientId:
                  type: integer
                  nullable: true
                  minimum: 0
                  exclusiveMinimum: true
                  description: The invoice receipient (contact) id of this patient
                  example: 1
                birthdate:
                  anyOf:
                    - type: string
                    - type: string
                    - nullable: true
                  description: Patient birthdate in YYYY-MM-DD format
                  example: 1996-07-30
                timezone:
                  type: string
                  description: Patient timezone
                  example: Australia/Adelaide
                extraInfo:
                  type: string
                  nullable: true
                  description: Patient extra info
                  example: Some extra info
                extraBillingInfo:
                  type: string
                  nullable: true
                  description: Patient extra billing info
                  example: Some extra billing info
                addressL1:
                  type: string
                  nullable: true
                  description: Patient address line 1
                  example: 123 King William Street
                addressL2:
                  type: string
                  nullable: true
                  description: Patient address line 2
                  example: ""
                addressL3:
                  type: string
                  nullable: true
                  description: Patient address line 3
                  example: ""
                city:
                  type: string
                  nullable: true
                  description: Patient city
                  example: Adelaide
                state:
                  type: string
                  nullable: true
                  description: Patient state
                  example: SA
                postalCode:
                  type: string
                  nullable: true
                  description: Patient post code
                  example: "5000"
                country:
                  type: string
                  nullable: true
                  description: Patient country
                  example: Australia
                phoneNumbers:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        nullable: true
                        enum: *a1
                        description: Phone number type
                        example: Mobile
                      code:
                        type: string
                        nullable: true
                        description: Phone country code
                        example: "+61"
                      phoneNumber:
                        type: string
                        description: Phone number
                        example: "401234567"
                    required:
                      - phoneNumber
                privacyPolicy:
                  type: string
                  nullable: true
                  enum: *a2
                  description: Patient privacy policy status
                  example: Accepted
                ndisNumber:
                  type: string
                  nullable: true
                  description: Patient NDIS number
                  example: "430123456"
                ndisInfo:
                  type: object
                  nullable: true
                  properties:
                    diagnosis:
                      type: string
                      nullable: true
                      description: NDIS Diagnosis
                      example: Foot Injury
                    nomineeEmail:
                      type: string
                      nullable: true
                      description: Nominee email
                      example: nominee@email.com
                    fundManagement:
                      type: string
                      nullable: true
                      description: NDIS fund management type
                      example: Plan-managed
                    nomineeLastName:
                      type: string
                      nullable: true
                      description: Last name of nominee
                      example: Clark
                    nomineeFirstName:
                      type: string
                      nullable: true
                      description: First name of nominee
                      example: Chris
                    nomineeMobileCode:
                      type: string
                      nullable: true
                      description: Nominee phone country code
                      example: "+61"
                    nomineeMobileNumber:
                      type: string
                      nullable: true
                      description: Nominee phone number
                      example: "433555111"
                    startDate:
                      type: string
                      nullable: true
                      description: Plan start date
                      example: 2024-02-09T00:00:00.000Z
                    endDate:
                      type: string
                      nullable: true
                      description: Plan end date
                      example: 2024-02-18T00:00:00.000Z
                medicareNum:
                  type: string
                  nullable: true
                  description: Patient Medicare number
                  example: "4444444444"
                irn:
                  type: string
                  nullable: true
                  description: Patient Medicare reference number
                  example: "1"
                veteransFileNumber:
                  type: string
                  nullable: true
                  description: Patient veterans information
                  example: ""
                emergencyContactNumber:
                  type: string
                  nullable: true
                  description: Patient emergency contact number
                  example: "0412345678"
                emergencyContactName:
                  type: string
                  nullable: true
                  description: Patient emergency contact name
                  example: Quentin Neely
                emergencyContactRelationship:
                  type: string
                  nullable: true
                  description: Patient emergency contact relationship
                  example: Brother
                archived:
                  type: boolean
                  nullable: true
                  default: false
                  description: Whether the patient has been archived
                createdAt:
                  anyOf:
                    - type: string
                    - type: string
                  description: Object creation date time
                  example: 2023-07-30T09:00:00Z
                updatedAt:
                  anyOf:
                    - type: string
                    - type: string
                  description: Object update date time
                  example: 2023-07-30T09:00:00Z
              required:
                - firstname
                - lastname
                - timezone
              additionalProperties: false
      responses:
        "200":
          description: Successfully created patient
          content:
            application/json:
              schema:
                type: object
                properties:
                  firstname:
                    type: string
                    description: Patient first name
                    example: Harry
                  lastname:
                    type: string
                    description: Patient last name
                    example: Potter
                  middleName:
                    type: string
                    nullable: true
                    description: Patient middle name
                    example: James
                  preferredName:
                    type: string
                    nullable: true
                    description: Patient preferred name
                    example: Harry
                  title:
                    type: string
                    nullable: true
                    description: Patient title
                    example: Mr.
                  email:
                    type: string
                    nullable: true
                    description: Patient email
                    example: harry@hogwarts.edu
                  sex:
                    type: string
                    nullable: true
                    description: Patient sex
                    example: Male
                  genderIdentity:
                    type: string
                    nullable: true
                    description: Patient gender identity
                    example: Man
                  pronouns:
                    type: string
                    nullable: true
                    description: Patient pronouns
                    example: They/them
                  alert:
                    type: string
                    nullable: true
                    description: Patient alert messages
                    example: He knows magic
                  invoiceRecipientId:
                    type: integer
                    nullable: true
                    minimum: 0
                    exclusiveMinimum: true
                    description: The invoice receipient (contact) id of this patient
                    example: 1
                  birthdate:
                    anyOf:
                      - type: string
                      - type: string
                      - nullable: true
                    description: Patient birthdate in YYYY-MM-DD format
                    example: 1996-07-30
                  timezone:
                    type: string
                    description: Patient timezone
                    example: Australia/Adelaide
                  extraInfo:
                    type: string
                    nullable: true
                    description: Patient extra info
                    example: Some extra info
                  extraBillingInfo:
                    type: string
                    nullable: true
                    description: Patient extra billing info
                    example: Some extra billing info
                  addressL1:
                    type: string
                    nullable: true
                    description: Patient address line 1
                    example: 123 King William Street
                  addressL2:
                    type: string
                    nullable: true
                    description: Patient address line 2
                    example: ""
                  addressL3:
                    type: string
                    nullable: true
                    description: Patient address line 3
                    example: ""
                  city:
                    type: string
                    nullable: true
                    description: Patient city
                    example: Adelaide
                  state:
                    type: string
                    nullable: true
                    description: Patient state
                    example: SA
                  postalCode:
                    type: string
                    nullable: true
                    description: Patient post code
                    example: "5000"
                  country:
                    type: string
                    nullable: true
                    description: Patient country
                    example: Australia
                  phoneNumbers:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          nullable: true
                          enum: *a1
                          description: Phone number type
                          example: Mobile
                        code:
                          type: string
                          nullable: true
                          description: Phone country code
                          example: "+61"
                        phoneNumber:
                          type: string
                          description: Phone number
                          example: "401234567"
                      required:
                        - phoneNumber
                  privacyPolicy:
                    type: string
                    nullable: true
                    enum: *a2
                    description: Patient privacy policy status
                    example: Accepted
                  ndisNumber:
                    type: string
                    nullable: true
                    description: Patient NDIS number
                    example: "430123456"
                  ndisInfo:
                    type: object
                    nullable: true
                    properties:
                      diagnosis:
                        type: string
                        nullable: true
                        description: NDIS Diagnosis
                        example: Foot Injury
                      nomineeEmail:
                        type: string
                        nullable: true
                        description: Nominee email
                        example: nominee@email.com
                      fundManagement:
                        type: string
                        nullable: true
                        description: NDIS fund management type
                        example: Plan-managed
                      nomineeLastName:
                        type: string
                        nullable: true
                        description: Last name of nominee
                        example: Clark
                      nomineeFirstName:
                        type: string
                        nullable: true
                        description: First name of nominee
                        example: Chris
                      nomineeMobileCode:
                        type: string
                        nullable: true
                        description: Nominee phone country code
                        example: "+61"
                      nomineeMobileNumber:
                        type: string
                        nullable: true
                        description: Nominee phone number
                        example: "433555111"
                      startDate:
                        type: string
                        nullable: true
                        description: Plan start date
                        example: 2024-02-09T00:00:00.000Z
                      endDate:
                        type: string
                        nullable: true
                        description: Plan end date
                        example: 2024-02-18T00:00:00.000Z
                  medicareNum:
                    type: string
                    nullable: true
                    description: Patient Medicare number
                    example: "4444444444"
                  irn:
                    type: string
                    nullable: true
                    description: Patient Medicare reference number
                    example: "1"
                  veteransFileNumber:
                    type: string
                    nullable: true
                    description: Patient veterans information
                    example: ""
                  emergencyContactNumber:
                    type: string
                    nullable: true
                    description: Patient emergency contact number
                    example: "0412345678"
                  emergencyContactName:
                    type: string
                    nullable: true
                    description: Patient emergency contact name
                    example: Quentin Neely
                  emergencyContactRelationship:
                    type: string
                    nullable: true
                    description: Patient emergency contact relationship
                    example: Brother
                  archived:
                    type: boolean
                    nullable: true
                    default: false
                    description: Whether the patient has been archived
                  id:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                    description: Patient Id
                    example: 1
                  patientTags:
                    type: array
                    nullable: true
                    items:
                      type: string
                    description: Patient tags
                    example: *a3
                  customFields:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          anyOf:
                            - type: string
                            - type: number
                      required:
                        - name
                        - value
                  healthFund:
                    type: object
                    nullable: true
                    properties:
                      name:
                        type: string
                        description: Health fund name
                        example: AHM
                      membershipNumber:
                        type: string
                        nullable: true
                        description: Health fund membership number
                        example: "12345678"
                      patientNumber:
                        type: string
                        nullable: true
                        description: Health fund patient number
                        example: "1"
                      cardIssueNumber:
                        type: string
                        nullable: true
                        description: Health fund card issue number
                        example: "01"
                    required:
                      - name
                  createdAt:
                    anyOf:
                      - type: string
                      - type: string
                    description: Object creation date time
                    example: 2023-07-30T09:00:00Z
                  updatedAt:
                    anyOf:
                      - type: string
                      - type: string
                    description: Object update date time
                    example: 2023-07-30T09:00:00Z
                required:
                  - firstname
                  - lastname
                  - timezone
                  - id
  "/patients/{id}":
    get:
      tags:
        - patient
      description: Get patient data by id
      summary: Get a single patient
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 1
          required: true
          name: id
          in: path
      responses:
        "200":
          description: Object with patient data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  firstname:
                    type: string
                    description: Patient first name
                    example: Harry
                  lastname:
                    type: string
                    description: Patient last name
                    example: Potter
                  middleName:
                    type: string
                    nullable: true
                    description: Patient middle name
                    example: James
                  preferredName:
                    type: string
                    nullable: true
                    description: Patient preferred name
                    example: Harry
                  title:
                    type: string
                    nullable: true
                    description: Patient title
                    example: Mr.
                  email:
                    type: string
                    nullable: true
                    description: Patient email
                    example: harry@hogwarts.edu
                  sex:
                    type: string
                    nullable: true
                    description: Patient sex
                    example: Male
                  genderIdentity:
                    type: string
                    nullable: true
                    description: Patient gender identity
                    example: Man
                  pronouns:
                    type: string
                    nullable: true
                    description: Patient pronouns
                    example: They/them
                  alert:
                    type: string
                    nullable: true
                    description: Patient alert messages
                    example: He knows magic
                  invoiceRecipientId:
                    type: integer
                    nullable: true
                    minimum: 0
                    exclusiveMinimum: true
                    description: The invoice receipient (contact) id of this patient
                    example: 1
                  birthdate:
                    anyOf:
                      - type: string
                      - type: string
                      - nullable: true
                    description: Patient birthdate in YYYY-MM-DD format
                    example: 1996-07-30
                  timezone:
                    type: string
                    description: Patient timezone
                    example: Australia/Adelaide
                  extraInfo:
                    type: string
                    nullable: true
                    description: Patient extra info
                    example: Some extra info
                  extraBillingInfo:
                    type: string
                    nullable: true
                    description: Patient extra billing info
                    example: Some extra billing info
                  addressL1:
                    type: string
                    nullable: true
                    description: Patient address line 1
                    example: 123 King William Street
                  addressL2:
                    type: string
                    nullable: true
                    description: Patient address line 2
                    example: ""
                  addressL3:
                    type: string
                    nullable: true
                    description: Patient address line 3
                    example: ""
                  city:
                    type: string
                    nullable: true
                    description: Patient city
                    example: Adelaide
                  state:
                    type: string
                    nullable: true
                    description: Patient state
                    example: SA
                  postalCode:
                    type: string
                    nullable: true
                    description: Patient post code
                    example: "5000"
                  country:
                    type: string
                    nullable: true
                    description: Patient country
                    example: Australia
                  phoneNumbers:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          nullable: true
                          enum: *a1
                          description: Phone number type
                          example: Mobile
                        code:
                          type: string
                          nullable: true
                          description: Phone country code
                          example: "+61"
                        phoneNumber:
                          type: string
                          description: Phone number
                          example: "401234567"
                      required:
                        - phoneNumber
                  privacyPolicy:
                    type: string
                    nullable: true
                    enum: *a2
                    description: Patient privacy policy status
                    example: Accepted
                  ndisNumber:
                    type: string
                    nullable: true
                    description: Patient NDIS number
                    example: "430123456"
                  ndisInfo:
                    type: object
                    nullable: true
                    properties:
                      diagnosis:
                        type: string
                        nullable: true
                        description: NDIS Diagnosis
                        example: Foot Injury
                      nomineeEmail:
                        type: string
                        nullable: true
                        description: Nominee email
                        example: nominee@email.com
                      fundManagement:
                        type: string
                        nullable: true
                        description: NDIS fund management type
                        example: Plan-managed
                      nomineeLastName:
                        type: string
                        nullable: true
                        description: Last name of nominee
                        example: Clark
                      nomineeFirstName:
                        type: string
                        nullable: true
                        description: First name of nominee
                        example: Chris
                      nomineeMobileCode:
                        type: string
                        nullable: true
                        description: Nominee phone country code
                        example: "+61"
                      nomineeMobileNumber:
                        type: string
                        nullable: true
                        description: Nominee phone number
                        example: "433555111"
                      startDate:
                        type: string
                        nullable: true
                        description: Plan start date
                        example: 2024-02-09T00:00:00.000Z
                      endDate:
                        type: string
                        nullable: true
                        description: Plan end date
                        example: 2024-02-18T00:00:00.000Z
                  medicareNum:
                    type: string
                    nullable: true
                    description: Patient Medicare number
                    example: "4444444444"
                  irn:
                    type: string
                    nullable: true
                    description: Patient Medicare reference number
                    example: "1"
                  veteransFileNumber:
                    type: string
                    nullable: true
                    description: Patient veterans information
                    example: ""
                  emergencyContactNumber:
                    type: string
                    nullable: true
                    description: Patient emergency contact number
                    example: "0412345678"
                  emergencyContactName:
                    type: string
                    nullable: true
                    description: Patient emergency contact name
                    example: Quentin Neely
                  emergencyContactRelationship:
                    type: string
                    nullable: true
                    description: Patient emergency contact relationship
                    example: Brother
                  archived:
                    type: boolean
                    nullable: true
                    default: false
                    description: Whether the patient has been archived
                  id:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                    description: Patient Id
                    example: 1
                  patientTags:
                    type: array
                    nullable: true
                    items:
                      type: string
                    description: Patient tags
                    example: *a3
                  customFields:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          anyOf:
                            - type: string
                            - type: number
                      required:
                        - name
                        - value
                  healthFund:
                    type: object
                    nullable: true
                    properties:
                      name:
                        type: string
                        description: Health fund name
                        example: AHM
                      membershipNumber:
                        type: string
                        nullable: true
                        description: Health fund membership number
                        example: "12345678"
                      patientNumber:
                        type: string
                        nullable: true
                        description: Health fund patient number
                        example: "1"
                      cardIssueNumber:
                        type: string
                        nullable: true
                        description: Health fund card issue number
                        example: "01"
                    required:
                      - name
                  createdAt:
                    anyOf:
                      - type: string
                      - type: string
                    description: Object creation date time
                    example: 2023-07-30T09:00:00Z
                  updatedAt:
                    anyOf:
                      - type: string
                      - type: string
                    description: Object update date time
                    example: 2023-07-30T09:00:00Z
                required:
                  - firstname
                  - lastname
                  - timezone
                  - id
    put:
      tags:
        - patient
      description: Update one patient
      summary: Update one patient
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            example: 1
          required: true
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstname:
                  type: string
                  minLength: 1
                  description: Patient first name
                  example: Harry
                lastname:
                  type: string
                  minLength: 1
                  description: Patient last name
                  example: Potter
                email:
                  type: string
                  nullable: true
                  format: email
                  description: Patient email
                  example: harry@hogwarts.edu
                sex:
                  type: string
                  nullable: true
                  description: Patient sex
                  example: Male
                genderIdentity:
                  type: string
                  nullable: true
                  description: Patient gender identity
                  example: Man
                alert:
                  type: string
                  nullable: true
                  description: Patient alert messages
                  example: He knows magic
                birthdate:
                  type: string
                  nullable: true
                  description: Patient birthdate in YYYY-MM-DD format
                  example: 1996-07-30
                timezone:
                  type: string
                  nullable: true
                  enum:
                    - Africa/Abidjan
                    - Africa/Accra
                    - Africa/Addis_Ababa
                    - Africa/Algiers
                    - Africa/Asmera
                    - Africa/Bamako
                    - Africa/Bangui
                    - Africa/Banjul
                    - Africa/Bissau
                    - Africa/Blantyre
                    - Africa/Brazzaville
                    - Africa/Bujumbura
                    - Africa/Cairo
                    - Africa/Casablanca
                    - Africa/Ceuta
                    - Africa/Conakry
                    - Africa/Dakar
                    - Africa/Dar_es_Salaam
                    - Africa/Djibouti
                    - Africa/Douala
                    - Africa/El_Aaiun
                    - Africa/Freetown
                    - Africa/Gaborone
                    - Africa/Harare
                    - Africa/Johannesburg
                    - Africa/Juba
                    - Africa/Kampala
                    - Africa/Khartoum
                    - Africa/Kigali
                    - Africa/Kinshasa
                    - Africa/Lagos
                    - Africa/Libreville
                    - Africa/Lome
                    - Africa/Luanda
                    - Africa/Lubumbashi
                    - Africa/Lusaka
                    - Africa/Malabo
                    - Africa/Maputo
                    - Africa/Maseru
                    - Africa/Mbabane
                    - Africa/Mogadishu
                    - Africa/Monrovia
                    - Africa/Nairobi
                    - Africa/Ndjamena
                    - Africa/Niamey
                    - Africa/Nouakchott
                    - Africa/Ouagadougou
                    - Africa/Porto-Novo
                    - Africa/Sao_Tome
                    - Africa/Tripoli
                    - Africa/Tunis
                    - Africa/Windhoek
                    - America/Adak
                    - America/Anchorage
                    - America/Anguilla
                    - America/Antigua
                    - America/Araguaina
                    - America/Argentina/La_Rioja
                    - America/Argentina/Rio_Gallegos
                    - America/Argentina/Salta
                    - America/Argentina/San_Juan
                    - America/Argentina/San_Luis
                    - America/Argentina/Tucuman
                    - America/Argentina/Ushuaia
                    - America/Aruba
                    - America/Asuncion
                    - America/Bahia
                    - America/Bahia_Banderas
                    - America/Barbados
                    - America/Belem
                    - America/Belize
                    - America/Blanc-Sablon
                    - America/Boa_Vista
                    - America/Bogota
                    - America/Boise
                    - America/Buenos_Aires
                    - America/Cambridge_Bay
                    - America/Campo_Grande
                    - America/Cancun
                    - America/Caracas
                    - America/Catamarca
                    - America/Cayenne
                    - America/Cayman
                    - America/Chicago
                    - America/Chihuahua
                    - America/Ciudad_Juarez
                    - America/Coral_Harbour
                    - America/Cordoba
                    - America/Costa_Rica
                    - America/Creston
                    - America/Cuiaba
                    - America/Curacao
                    - America/Danmarkshavn
                    - America/Dawson
                    - America/Dawson_Creek
                    - America/Denver
                    - America/Detroit
                    - America/Dominica
                    - America/Edmonton
                    - America/Eirunepe
                    - America/El_Salvador
                    - America/Fort_Nelson
                    - America/Fortaleza
                    - America/Glace_Bay
                    - America/Godthab
                    - America/Goose_Bay
                    - America/Grand_Turk
                    - America/Grenada
                    - America/Guadeloupe
                    - America/Guatemala
                    - America/Guayaquil
                    - America/Guyana
                    - America/Halifax
                    - America/Havana
                    - America/Hermosillo
                    - America/Indiana/Knox
                    - America/Indiana/Marengo
                    - America/Indiana/Petersburg
                    - America/Indiana/Tell_City
                    - America/Indiana/Vevay
                    - America/Indiana/Vincennes
                    - America/Indiana/Winamac
                    - America/Indianapolis
                    - America/Inuvik
                    - America/Iqaluit
                    - America/Jamaica
                    - America/Jujuy
                    - America/Juneau
                    - America/Kentucky/Monticello
                    - America/Kralendijk
                    - America/La_Paz
                    - America/Lima
                    - America/Los_Angeles
                    - America/Louisville
                    - America/Lower_Princes
                    - America/Maceio
                    - America/Managua
                    - America/Manaus
                    - America/Marigot
                    - America/Martinique
                    - America/Matamoros
                    - America/Mazatlan
                    - America/Mendoza
                    - America/Menominee
                    - America/Merida
                    - America/Metlakatla
                    - America/Mexico_City
                    - America/Miquelon
                    - America/Moncton
                    - America/Monterrey
                    - America/Montevideo
                    - America/Montserrat
                    - America/Nassau
                    - America/New_York
                    - America/Nipigon
                    - America/Nome
                    - America/Noronha
                    - America/North_Dakota/Beulah
                    - America/North_Dakota/Center
                    - America/North_Dakota/New_Salem
                    - America/Ojinaga
                    - America/Panama
                    - America/Pangnirtung
                    - America/Paramaribo
                    - America/Phoenix
                    - America/Port-au-Prince
                    - America/Port_of_Spain
                    - America/Porto_Velho
                    - America/Puerto_Rico
                    - America/Punta_Arenas
                    - America/Rainy_River
                    - America/Rankin_Inlet
                    - America/Recife
                    - America/Regina
                    - America/Resolute
                    - America/Rio_Branco
                    - America/Santa_Isabel
                    - America/Santarem
                    - America/Santiago
                    - America/Santo_Domingo
                    - America/Sao_Paulo
                    - America/Scoresbysund
                    - America/Sitka
                    - America/St_Barthelemy
                    - America/St_Johns
                    - America/St_Kitts
                    - America/St_Lucia
                    - America/St_Thomas
                    - America/St_Vincent
                    - America/Swift_Current
                    - America/Tegucigalpa
                    - America/Thule
                    - America/Thunder_Bay
                    - America/Tijuana
                    - America/Toronto
                    - America/Tortola
                    - America/Vancouver
                    - America/Whitehorse
                    - America/Winnipeg
                    - America/Yakutat
                    - America/Yellowknife
                    - Antarctica/Casey
                    - Antarctica/Davis
                    - Antarctica/DumontDUrville
                    - Antarctica/Macquarie
                    - Antarctica/Mawson
                    - Antarctica/McMurdo
                    - Antarctica/Palmer
                    - Antarctica/Rothera
                    - Antarctica/Syowa
                    - Antarctica/Troll
                    - Antarctica/Vostok
                    - Arctic/Longyearbyen
                    - Asia/Aden
                    - Asia/Almaty
                    - Asia/Amman
                    - Asia/Anadyr
                    - Asia/Aqtau
                    - Asia/Aqtobe
                    - Asia/Ashgabat
                    - Asia/Atyrau
                    - Asia/Baghdad
                    - Asia/Bahrain
                    - Asia/Baku
                    - Asia/Bangkok
                    - Asia/Barnaul
                    - Asia/Beirut
                    - Asia/Bishkek
                    - Asia/Brunei
                    - Asia/Calcutta
                    - Asia/Chita
                    - Asia/Choibalsan
                    - Asia/Colombo
                    - Asia/Damascus
                    - Asia/Dhaka
                    - Asia/Dili
                    - Asia/Dubai
                    - Asia/Dushanbe
                    - Asia/Famagusta
                    - Asia/Gaza
                    - Asia/Hebron
                    - Asia/Hong_Kong
                    - Asia/Hovd
                    - Asia/Irkutsk
                    - Asia/Jakarta
                    - Asia/Jayapura
                    - Asia/Jerusalem
                    - Asia/Kabul
                    - Asia/Kamchatka
                    - Asia/Karachi
                    - Asia/Katmandu
                    - Asia/Khandyga
                    - Asia/Krasnoyarsk
                    - Asia/Kuala_Lumpur
                    - Asia/Kuching
                    - Asia/Kuwait
                    - Asia/Macau
                    - Asia/Magadan
                    - Asia/Makassar
                    - Asia/Manila
                    - Asia/Muscat
                    - Asia/Nicosia
                    - Asia/Novokuznetsk
                    - Asia/Novosibirsk
                    - Asia/Omsk
                    - Asia/Oral
                    - Asia/Phnom_Penh
                    - Asia/Pontianak
                    - Asia/Pyongyang
                    - Asia/Qatar
                    - Asia/Qostanay
                    - Asia/Qyzylorda
                    - Asia/Rangoon
                    - Asia/Riyadh
                    - Asia/Saigon
                    - Asia/Sakhalin
                    - Asia/Samarkand
                    - Asia/Seoul
                    - Asia/Shanghai
                    - Asia/Singapore
                    - Asia/Srednekolymsk
                    - Asia/Taipei
                    - Asia/Tashkent
                    - Asia/Tbilisi
                    - Asia/Tehran
                    - Asia/Thimphu
                    - Asia/Tokyo
                    - Asia/Tomsk
                    - Asia/Ulaanbaatar
                    - Asia/Urumqi
                    - Asia/Ust-Nera
                    - Asia/Vientiane
                    - Asia/Vladivostok
                    - Asia/Yakutsk
                    - Asia/Yekaterinburg
                    - Asia/Yerevan
                    - Atlantic/Azores
                    - Atlantic/Bermuda
                    - Atlantic/Canary
                    - Atlantic/Cape_Verde
                    - Atlantic/Faeroe
                    - Atlantic/Madeira
                    - Atlantic/Reykjavik
                    - Atlantic/South_Georgia
                    - Atlantic/St_Helena
                    - Atlantic/Stanley
                    - Australia/Adelaide
                    - Australia/Brisbane
                    - Australia/Broken_Hill
                    - Australia/Currie
                    - Australia/Darwin
                    - Australia/Eucla
                    - Australia/Hobart
                    - Australia/Lindeman
                    - Australia/Lord_Howe
                    - Australia/Melbourne
                    - Australia/Perth
                    - Australia/Sydney
                    - Europe/Amsterdam
                    - Europe/Andorra
                    - Europe/Astrakhan
                    - Europe/Athens
                    - Europe/Belgrade
                    - Europe/Berlin
                    - Europe/Bratislava
                    - Europe/Brussels
                    - Europe/Bucharest
                    - Europe/Budapest
                    - Europe/Busingen
                    - Europe/Chisinau
                    - Europe/Copenhagen
                    - Europe/Dublin
                    - Europe/Gibraltar
                    - Europe/Guernsey
                    - Europe/Helsinki
                    - Europe/Isle_of_Man
                    - Europe/Istanbul
                    - Europe/Jersey
                    - Europe/Kaliningrad
                    - Europe/Kiev
                    - Europe/Kirov
                    - Europe/Lisbon
                    - Europe/Ljubljana
                    - Europe/London
                    - Europe/Luxembourg
                    - Europe/Madrid
                    - Europe/Malta
                    - Europe/Mariehamn
                    - Europe/Minsk
                    - Europe/Monaco
                    - Europe/Moscow
                    - Europe/Oslo
                    - Europe/Paris
                    - Europe/Podgorica
                    - Europe/Prague
                    - Europe/Riga
                    - Europe/Rome
                    - Europe/Samara
                    - Europe/San_Marino
                    - Europe/Sarajevo
                    - Europe/Saratov
                    - Europe/Simferopol
                    - Europe/Skopje
                    - Europe/Sofia
                    - Europe/Stockholm
                    - Europe/Tallinn
                    - Europe/Tirane
                    - Europe/Ulyanovsk
                    - Europe/Uzhgorod
                    - Europe/Vaduz
                    - Europe/Vatican
                    - Europe/Vienna
                    - Europe/Vilnius
                    - Europe/Volgograd
                    - Europe/Warsaw
                    - Europe/Zagreb
                    - Europe/Zaporozhye
                    - Europe/Zurich
                    - Indian/Antananarivo
                    - Indian/Chagos
                    - Indian/Christmas
                    - Indian/Cocos
                    - Indian/Comoro
                    - Indian/Kerguelen
                    - Indian/Mahe
                    - Indian/Maldives
                    - Indian/Mauritius
                    - Indian/Mayotte
                    - Indian/Reunion
                    - Pacific/Apia
                    - Pacific/Auckland
                    - Pacific/Bougainville
                    - Pacific/Chatham
                    - Pacific/Easter
                    - Pacific/Efate
                    - Pacific/Enderbury
                    - Pacific/Fakaofo
                    - Pacific/Fiji
                    - Pacific/Funafuti
                    - Pacific/Galapagos
                    - Pacific/Gambier
                    - Pacific/Guadalcanal
                    - Pacific/Guam
                    - Pacific/Honolulu
                    - Pacific/Johnston
                    - Pacific/Kiritimati
                    - Pacific/Kosrae
                    - Pacific/Kwajalein
                    - Pacific/Majuro
                    - Pacific/Marquesas
                    - Pacific/Midway
                    - Pacific/Nauru
                    - Pacific/Niue
                    - Pacific/Norfolk
                    - Pacific/Noumea
                    - Pacific/Pago_Pago
                    - Pacific/Palau
                    - Pacific/Pitcairn
                    - Pacific/Ponape
                    - Pacific/Port_Moresby
                    - Pacific/Rarotonga
                    - Pacific/Saipan
                    - Pacific/Tahiti
                    - Pacific/Tarawa
                    - Pacific/Tongatapu
                    - Pacific/Truk
                    - Pacific/Wake
                    - Pacific/Wallis
                  description: Patient timezone
                  example: Australia/Adelaide
                city:
                  type: string
                  nullable: true
                  description: Patient city
                  example: Adelaide
                state:
                  type: string
                  nullable: true
                  description: Patient state
                  example: SA
                postalCode:
                  type: string
                  nullable: true
                  description: Patient post code
                  example: "5000"
                country:
                  type: string
                  nullable: true
                  description: Patient country
                  example: Australia
                phoneNumbers:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        nullable: true
                        enum: *a1
                        description: Phone number type
                        example: Mobile
                      code:
                        type: string
                        nullable: true
                        description: Phone country code
                        example: "+61"
                      phoneNumber:
                        type: string
                        description: Phone number
                        example: "401234567"
                    required:
                      - phoneNumber
                privacyPolicy:
                  type: string
                  nullable: true
                  enum:
                    - No response
                    - Accepted
                    - Rejected
                    - ""
                  description: Patient privacy policy status
                  example: Accepted
                healthFund:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Health fund name
                      example: AHM
                    membershipNumber:
                      type: string
                      nullable: true
                      description: Health fund membership number
                      example: "12345678"
                    patientNumber:
                      type: string
                      nullable: true
                      description: Health fund patient number
                      example: "1"
                    cardIssueNumber:
                      type: string
                      nullable: true
                      description: Health fund card issue number
                      example: "01"
                  required:
                    - name
                ndisNumber:
                  type: string
                  nullable: true
                  description: Patient NDIS number
                  example: "430123456"
                ndisInfo:
                  type: object
                  nullable: true
                  properties:
                    diagnosis:
                      type: string
                      nullable: true
                      description: NDIS Diagnosis
                      example: Foot Injury
                    nomineeEmail:
                      type: string
                      nullable: true
                      description: Nominee email
                      example: nominee@email.com
                    fundManagement:
                      type: string
                      nullable: true
                      description: NDIS fund management type
                      example: Plan-managed
                    nomineeLastName:
                      type: string
                      nullable: true
                      description: Last name of nominee
                      example: Clark
                    nomineeFirstName:
                      type: string
                      nullable: true
                      description: First name of nominee
                      example: Chris
                    nomineeMobileCode:
                      type: string
                      nullable: true
                      description: Nominee phone country code
                      example: "+61"
                    nomineeMobileNumber:
                      type: string
                      nullable: true
                      description: Nominee phone number
                      example: "433555111"
                    startDate:
                      type: string
                      nullable: true
                      description: Plan start date
                      example: 2024-02-09T00:00:00.000Z
                    endDate:
                      type: string
                      nullable: true
                      description: Plan end date
                      example: 2024-02-18T00:00:00.000Z
                medicareNum:
                  type: string
                  nullable: true
                  description: Patient Medicare number
                  example: "4444444444"
                irn:
                  type: string
                  nullable: true
                  description: Patient Medicare reference number
                  example: "1"
                veteransFileNumber:
                  type: string
                  nullable: true
                  description: Patient veterans information
                  example: ""
                emergencyContactNumber:
                  type: string
                  nullable: true
                  description: Patient emergency contact number
                  example: "0412345678"
                emergencyContactName:
                  type: string
                  nullable: true
                  description: Patient emergency contact name
                  example: Quentin Neely
                emergencyContactRelationship:
                  type: string
                  nullable: true
                  description: Patient emergency contact relationship
                  example: Brother
                patientTags:
                  type: array
                  nullable: true
                  items:
                    type: string
                  description: Patient tags
                  example:
                    - Self-managed
                customFields:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        anyOf:
                          - type: string
                          - type: number
                    required:
                      - name
                      - value
                createdAt:
                  anyOf:
                    - type: string
                    - type: string
                  description: Object creation date time
                  example: 2023-07-30T09:00:00Z
                updatedAt:
                  anyOf:
                    - type: string
                    - type: string
                  description: Object update date time
                  example: 2023-07-30T09:00:00Z
      responses:
        "200":
          description: Return 1 on success
          content:
            text:
              schema:
                type: number
                enum:
                  - 1
  /contacts:
    get:
      tags:
        - contact
      description: Get a paged array of contacts
      summary: Get a paged array of contacts
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            nullable: true
            description: The starting object id of the next page
            example: 200
          required: false
          name: id_gt
          in: query
        - schema:
            type: integer
            nullable: true
            description: The starting object id of the previous page
            example: 100
          required: false
          name: id_lt
          in: query
        - schema:
            anyOf:
              - type: string
              - type: string
            description: Search for objects updated after this date time
            example: 2023-07-30T09:00:00Z
          required: false
          name: update_gt
          in: query
        - schema:
            anyOf:
              - type: string
              - type: string
            description: Search for objects updated before this date time
            example: 2023-07-30T09:00:00Z
          required: false
          name: update_lt
          in: query
        - schema:
            type: string
            nullable: true
            enum: *a4
            default: "false"
            description: Whether archived objects should be retrieved, default is false
          required: false
          name: include_archived
          in: query
        - schema:
            type: string
            nullable: true
            description: Contact firstname
            example: Harry
          required: false
          name: firstname
          in: query
        - schema:
            type: string
            nullable: true
            description: Contact lastname
            example: Potter
          required: false
          name: lastname
          in: query
        - schema:
            type: string
            nullable: true
            format: email
            description: Contact email
            example: harry@hogwarts.edu
          required: false
          name: email
          in: query
        - schema:
            type: string
            nullable: true
            description: Contact phone number without country code
            example: "0412345678"
          required: false
          name: phoneNumber
          in: query
      responses:
        "200":
          description: A paged array of contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 0
                          exclusiveMinimum: true
                          description: Contact id
                          example: 1
                        type:
                          type: string
                          nullable: true
                          description: Contact type
                          example: Standard
                        name:
                          type: string
                          nullable: true
                          description: Contact name
                          example: Plan Manager
                        title:
                          type: string
                          nullable: true
                          description: Contact title
                          example: Mr.
                        firstName:
                          type: string
                          nullable: true
                          description: Contact first name
                          example: Harry
                        lastName:
                          type: string
                          nullable: true
                          description: Contact last name
                          example: Potter
                        preferredName:
                          type: string
                          nullable: true
                          description: Contact preferred name
                          example: Harry
                        profession:
                          type: string
                          nullable: true
                          description: Contact profession
                          example: Contractor
                        companyName:
                          type: string
                          nullable: true
                          description: Contact company name
                          example: splose
                        providerNumber:
                          type: string
                          nullable: true
                          description: Contact provider number
                          example: "12345678"
                        doctorType:
                          type: string
                          nullable: true
                          enum: &a5
                            - GP
                            - Specialist
                          description: Contact doctor type
                          example: GP
                        associatedPatientIds:
                          type: array
                          nullable: true
                          items:
                            type: number
                          description: The associated patients' id in this contact
                        associatedInvoiceIds:
                          type: array
                          nullable: true
                          items:
                            type: number
                          description: The associated invoices' id in this contact
                        associatedCaseIds:
                          type: array
                          nullable: true
                          items:
                            type: number
                          description: The associated invoices' id in this contact
                        email:
                          type: string
                          nullable: true
                          description: Contact email
                          example: harry@hogwarts.edu
                        addressL1:
                          type: string
                          nullable: true
                          description: Contact address line 1
                          example: 123 King William Street
                        addressL2:
                          type: string
                          nullable: true
                          description: Contact address line 2
                          example: ""
                        addressL3:
                          type: string
                          nullable: true
                          description: Contact address line 3
                          example: ""
                        suburb:
                          type: string
                          nullable: true
                          description: Contact city
                          example: Adelaide
                        state:
                          type: string
                          nullable: true
                          description: Contact state
                          example: SA
                        postalCode:
                          type: string
                          nullable: true
                          description: Contact post code
                          example: "5000"
                        country:
                          type: string
                          nullable: true
                          description: Contact country
                          example: Australia
                        phoneNumbers:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                nullable: true
                                enum: *a1
                                description: Phone number type
                                example: Mobile
                              code:
                                type: string
                                nullable: true
                                description: Phone country code
                                example: "+61"
                              phoneNumber:
                                type: string
                                description: Phone number
                                example: "401234567"
                            required:
                              - phoneNumber
                        createdAt:
                          anyOf:
                            - type: string
                            - type: string
                          description: Object creation date time
                          example: 2023-07-30T09:00:00Z
                        updatedAt:
                          anyOf:
                            - type: string
                            - type: string
                          description: Object update date time
                          example: 2023-07-30T09:00:00Z
                      required:
                        - id
                        - type
                        - name
                        - title
                        - firstName
                        - lastName
                        - preferredName
                        - profession
                        - companyName
                        - providerNumber
                        - doctorType
                        - associatedPatientIds
                        - associatedInvoiceIds
                        - associatedCaseIds
                        - email
                        - addressL1
                        - addressL2
                        - addressL3
                        - suburb
                        - state
                        - postalCode
                        - country
                  links:
                    type: object
                    properties:
                      previousPage:
                        type: string
                        description: The link to retrieve next page
                        example: /v1/${object_type}?id_gt=200
                      nextPage:
                        type: string
                        description: The link to retrieve previous page
                        example: /v1/${object_type}?id_lt=100
                required:
                  - data
                  - links
    post:
      tags:
        - contact
      description: Create one contact
      summary: Create one contact
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Contact type
                  example: Standard
                name:
                  type: string
                  description: Contact name
                  example: Plan Manager
                title:
                  type: string
                  nullable: true
                  description: Contact title
                  example: Mr.
                firstName:
                  type: string
                  nullable: true
                  description: Contact first name
                  example: Harry
                lastName:
                  type: string
                  nullable: true
                  description: Contact last name
                  example: Potter
                preferredName:
                  type: string
                  nullable: true
                  description: Contact preferred name
                  example: Harry
                profession:
                  type: string
                  nullable: true
                  description: Contact profession
                  example: Contractor
                companyName:
                  type: string
                  nullable: true
                  description: Contact company name
                  example: splose
                providerNumber:
                  type: string
                  nullable: true
                  description: Contact provider number
                  example: "12345678"
                doctorType:
                  type: string
                  nullable: true
                  enum:
                    - GP
                    - Specialist
                  description: Contact doctor type
                  example: GP
                email:
                  type: string
                  format: email
                  description: Contact email
                  example: harry@hogwarts.edu
                addressL1:
                  type: string
                  nullable: true
                  description: Contact address line 1
                  example: 123 King William Street
                addressL2:
                  type: string
                  nullable: true
                  description: Contact address line 2
                  example: ""
                addressL3:
                  type: string
                  nullable: true
                  description: Contact address line 3
                  example: ""
                suburb:
                  type: string
                  nullable: true
                  description: Contact city
                  example: Adelaide
                state:
                  type: string
                  nullable: true
                  description: Contact state
                  example: SA
                postalCode:
                  type: string
                  nullable: true
                  description: Contact post code
                  example: "5000"
                country:
                  type: string
                  nullable: true
                  default: Australia
                  description: Contact country
                  example: Australia
                phoneNumbers:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        nullable: true
                        enum: *a1
                        description: Phone number type
                        example: Mobile
                      code:
                        type: string
                        nullable: true
                        description: Phone country code
                        example: "+61"
                      phoneNumber:
                        type: string
                        description: Phone number
                        example: "401234567"
                    required:
                      - phoneNumber
              required:
                - type
                - name
                - email
              additionalProperties: false
      responses:
        "200":
          description: Successfully created contact
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                    description: Contact id
                    example: 1
                  type:
                    type: string
                    nullable: true
                    description: Contact type
                    example: Standard
                  name:
                    type: string
                    nullable: true
                    description: Contact name
                    example: Plan Manager
                  title:
                    type: string
                    nullable: true
                    description: Contact title
                    example: Mr.
                  firstName:
                    type: string
                    nullable: true
                    description: Contact first name
                    example: Harry
                  lastName:
                    type: string
                    nullable: true
                    description: Contact last name
                    example: Potter
                  preferredName:
                    type: string
                    nullable: true
                    description: Contact preferred name
                    example: Harry
                  profession:
                    type: string
                    nullable: true
                    description: Contact profession
                    example: Contractor
                  companyName:
                    type: string
                    nullable: true
                    description: Contact company name
                    example: splose
                  providerNumber:
                    type: string
                    nullable: true
                    description: Contact provider number
                    example: "12345678"
                  doctorType:
                    type: string
                    nullable: true
                    enum: *a5
                    description: Contact doctor type
                    example: GP
                  associatedPatientIds:
                    type: array
                    nullable: true
                    items:
                      type: number
                    description: The associated patients' id in this contact
                  associatedInvoiceIds:
                    type: array
                    nullable: true
                    items:
                      type: number
                    description: The associated invoices' id in this contact
                  associatedCaseIds:
                    type: array
                    nullable: true
                    items:
                      type: number
                    description: The associated invoices' id in this contact
                  email:
                    type: string
                    nullable: true
                    description: Contact email
                    example: harry@hogwarts.edu
                  addressL1:
                    type: string
                    nullable: true
                    description: Contact address line 1
[...]
